@import url("https://fonts.googleapis.com/css2?family=Hind&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff-hind);
}

:root {
  --ff-hind: "Hind", sans-serif;
  --clr-white: rgb(255, 255, 255);
  --clr-background: #f8f4fc;
  --clr-icon-gradient-light: #f27121;
  --clr-icon-gradient-dark: #e94057;

  --clr-green: green;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
